{
    "swagger": "2.0",
    "info": {
        "title": "My First API",
        "version": "0.1"
    },
    "host": "web-api.vm",
    "basePath": "/",
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/asset/": {
            "get": {
                "tags": [
                    "asset"
                ],
                "responses": {
                    "200": {
                        "description": "An example resource"
                    }
                }
            },
            "post": {
                "tags": [
                    "asset"
                ],
                "parameters": [
                    {
                        "name": "order",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/order"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "TODO funktioniert noch nicht!"
                    }
                }
            }
        },
        "/asset/{id}": {
            "get": {
                "tags": [
                    "asset"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "schema": {
                            "$ref": "#/definitions/order"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "asset"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "TODO funktioniert noch nicht!",
                        "schema": {
                            "$ref": "#/definitions/order"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "Asset": {
            "properties": {
                "assetid": {
                    "description": "",
                    "type": "integer",
                    "format": "int32"
                },
                "assetname": {
                    "description": "",
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "parameters": {
        "id": {
            "name": "id",
            "in": "path",
            "type": "integer",
            "format": "int32"
        }
    },
    "tags": [
        {
            "name": "order",
            "description": "All about assets"
        }
    ]
}