{
    "swagger": "2.0",
    "info": {
        "title": "My First API",
        "version": "0.1"
    },
    "host": "web-api.vm",
    "basePath": "/",
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/asset/": {
            "get": {
                "tags": [
                    "asset"
                ],
                "responses": {
                    "200": {
                        "description": "An example resource"
                    }
                }
            }
        },
        "/asset/{assetid}": {
            "get": {
                "tags": [
                    "asset"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/assetid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An example resource"
                    }
                }
            }
        },
        "/asset/createAsset/{assetname}&{path}": {
            "post": {
                "tags": [
                    "asset"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/assetname"
                    },
                    {
                        "$ref": "#/parameters/path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An example resource"
                    }
                }
            }
        }
    },
    "definitions": {
        "Asset": {
            "properties": {
                "assetid": {
                    "type": "integer",
                    "format": "int32"
                },
                "assetname": {
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "parameters": {
        "assetid": {
            "name": "assetid",
            "in": "path",
            "type": "integer",
            "format": "int11"
        },
        "assetname": {
            "name": "assetname",
            "in": "path",
            "type": "string"
        },
        "path": {
            "name": "path",
            "in": "path",
            "type": "string"
        }
    },
    "tags": [
        {
            "name": "order",
            "description": "All about assets"
        }
    ]
}