{
    "swagger": "2.0",
    "info": {
        "title": "My First API",
        "version": "0.1"
    },
    "host": "web-api.vm",
    "basePath": "/",
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/asset/": {
            "get": {
                "tags": [
                    "asset"
                ],
                "responses": {
                    "200": {
                        "description": "An example resource"
                    }
                }
            }
        },
        "/asset/{assetid}": {
            "get": {
                "tags": [
                    "asset"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/assetid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An example resource"
                    }
                }
            }
        },
        "/asset/createasset/": {
            "post": {
                "tags": [
                    "asset"
                ],
                "parameters": [
                    {
                        "name": "json",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/asset"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "An example resource"
                    }
                }
            }
        },
        "/asset/tags/": {
            "get": {
                "tags": [
                    "tags"
                ],
                "responses": {
                    "200": {
                        "description": "An example resource"
                    }
                }
            }
        },
        "/asset/tags/{tagid}": {
            "get": {
                "tags": [
                    "tags"
                ],
                "summary": "get assets by tag-id",
                "description": "enter a Valid tag-id to get the corresponding assets.",
                "parameters": [
                    {
                        "$ref": "#/parameters/tagid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An example resource"
                    }
                }
            }
        }
    },
    "definitions": {
        "asset": {
            "properties": {
                "assetname": {
                    "example": "defaultname"
                },
                "path": {
                    "example": "defaultpath"
                }
            }
        },
        "Asset": {
            "properties": {
                "assetid": {
                    "type": "integer",
                    "format": "int32"
                },
                "assetname": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Tag.php": {
            "type": "object"
        }
    },
    "parameters": {
        "assetid": {
            "name": "assetid",
            "in": "path",
            "type": "integer",
            "format": "int11"
        },
        "tagid": {
            "name": "tagid",
            "in": "path",
            "type": "integer",
            "format": "int11"
        },
        "assetname": {
            "name": "assetname",
            "in": "path",
            "type": "string"
        },
        "path": {
            "name": "path",
            "in": "path",
            "type": "string"
        }
    },
    "tags": [
        {},
        {}
    ]
}